{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>{{ template_data.title }}</h2>
  <hr>
  {% if template_data.movies %}
    <div class="row">
      {% for movie in template_data.movies %}
        <div class="col-md-4 mb-3">
          <div class="card shadow">
            <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ movie.name }}</h5>
              <p class="card-text">{{ movie.description|truncatewords:20 }}</p>
              <a href="{% url 'movies.show' movie.id %}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You haven’t liked any movies yet.</p>
  {% endif %}
</div>
{% endblock %}
